* {
     margin: 0;
     padding: 0;
}
body{
    width: 100%;
    height: 877px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}
html{
    font-size: 15px;
}
.fon{
    width: 100vw;
    height: 877px;
    background: url('./img/background.png') center center no-repeat;
}
.wrap{
    width: 85%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.head{
    width: 100%;
    height: 88px;
    display: flex;
    justify-content: space-between;
    color: #6b7083;  
}
.head__title{
    width: 195px;
    padding-top: 3px; 
}
.title-item{
    font-size: 0.8rem;
     padding-left: 13.15px;
     font-weight: 300;
     word-spacing: -1px;
     line-height: 12.5px;
     color: black;
}
.title{
    font-size: 3rem;
    font-weight: 500;
    padding-left: 11px;  
}
.head__text{
    width: 293px;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    align-self: center;
    padding-left: 24px;

}
.head__phone{
    width: 300px;
    text-align: center;
    line-height: 29px;
    padding-top: 12.7px;  
}
.phone{
font-size: 1.6rem;
font-weight: 400;
}
.phone-action{
    height: 7px;
font-size: 0.95rem;
font-weight: 500;
border-bottom: 1.2px solid black;
line-height: 0;
display: inline-block;
color: black;
}
.upper{
    text-transform: uppercase;
}
.text{
    width: 405px;
    height: 500px;
display: flex;
flex-direction: column;
align-self: flex-start;
color: #ffffff;
}
.text__title{
    padding: 63px 1px 1px 16px;
height: 130px;
font-size: 2.8rem;
font-weight: bold;
}
.text__item{ 
    padding-bottom: 22px;
    font-size: 1rem;
    font-weight: 400;
display: flex;
   padding-left: 9px;
   padding-top: 1px;
   letter-spacing: -0.73px;
}
 .img39{
    width: 35px;
    height: 39px;
    padding-left: 4px;
    padding-top: 3px;
}
.img37{
    width: 30px;
    height: 36px;
    padding-left: 8px;
    padding-top: 5px;
    margin-right: 2px;
}
.img38{
    width: 36px;
    height: 36px;
    padding-left: 5px;
    padding-top: 6px;
    margin-right: 2px;
}
.v1{
    padding-left: 10px;
}
.v2{
    width: 140px;
    padding-left: 11px;
    padding-top: 8px;
}
.text__action{
    width: 261px;
    height: 52px;
    background-color: #47d26b;
    box-sizing: border-box;
    margin-top: 48px;
    margin-left: 16px;
    font-size: 1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
   color: black;
   box-shadow: 0px 17px 14px 3px rgba(0,0,0, 0.7);
}
.present{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 250px;
    height: 103px;
    background: url('./img//lenta.png') center center no-repeat;
    display: flex;
    justify-content: center;  
    margin-left: 104px;
    margin-top: 37px; 
}
.present__item{
    width: 180px;
    height: 46px;
  padding-top: 10px;
    display: flex;
    text-transform: uppercase;
   margin-left: 42px;
}

@media screen and (max-width: 1250px){
    .text{ 
        width: 90%;
        text-shadow: 3px 3px 2px black;
    }
    .text__action{
        text-shadow: 3px 3px 2px transparent;
    }
}
@media screen and (max-width: 920px){

html{
    font-size: 15px;
}
}

@media screen and (max-width: 730px){
    
    html{
        font-size: 11px;
    }
    .head{
        flex-wrap: wrap;
        align-items: center;
    }
    .head__text{
        width: 30%;
    }
    .head__title{
        width: 40%;
    }
    .head__phone{
        padding-top: 5.7px;
        margin: 0 auto;
        line-height: 29px;
    }
    .phone{
        color: black;
        font-size: 2rem;
    }
    .phone-action{
        color: white;
        font-size: 2rem;
        text-decoration: underline;
        border-bottom: none;
    }
    .text__item{
        padding-top: 30px;
        font-size: 1.5rem;
    }
    .text__title{
        font-size: 2.5rem;
    }
    
    }
    @media screen and (max-width: 500px){
       
        .phone-action .phone{
            font-size: 1.3rem;  
        }
        .head__phone {
            width: 100%;
            padding-top: 4px;   
        }
        .text__action{
            width: 70%;
            height: 8%; 
        }
    }